* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url('./background.jpg');

  background-size: cover;
  color: whitesmoke;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.h1 {
  font-size: 2rem;
  font-weight: 400;
}

.container {
  display: flex;

  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 1rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  transition: all 1s ease-in-out;
}

.btn:focus,
.btn:active {
  transform: scale(1.02);
  outline: none;
  box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.6);
}

.input__label {
  font-size: 1.8rem;
}

.input__textarea {
  padding: 1rem;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
}

.input__textarea:focus {
  transform: scale(1.02);

  outline: none;
  box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.6);
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.input__error--csv,
.input__error--json {
  color: orangered;
}
